<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
</head>
<body>
	<!-- CONFIRM MODAL -->
	<div class="modal fade" tabindex="-1" role="dialog" id="myModal" th:fragment="modal">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"
						arial-label="Close"></button>
					<h4 class="modal-title" th:text="#{remove.label.warning}"></h4>
				</div>
				<div class="modal-body">
					<p th:text="#{remove.label.message}"></p>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal" th:text="#{button.cancelar.label}"></button>
					<button id="ok_confirm" type="button" class="btn btn-primary">OK</button>
				</div>
			</div>
			<!-- /.modal-content -->
		</div>
		<!-- /.modal-dialog -->
	</div>
	<!-- /.modal -->
</body>
</html>