<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
</head>

<body>
	<nav class="sidebar sidebar-open" th:fragment="nav-sidebar">
		<ul class="nav nav-pills">
			<li class="nav-item"><a class="nav-link " th:href="@{/}"> <i class="bi bi-house-door-fill"></i>
					<span th:text="#{sidebar.link.home}"></span>
				</a></li>
		</ul>

		<ul class="nav nav-pills">
			<li class="nav-item"><span class="nav-link active" th:text="#{sidebar.titulo.editora}"></span></li>
			<li class="nav-item"><a class="nav-link" th:href="@{/editora/cadastrar}"> <i
						class="bi bi-plus-circle-fill"></i> <span th:text="#{sidebar.link.cadastrar}"></span>
				</a></li>
			<li class="nav-item"><a class="nav-link" th:href="@{/editora/listar}"> <i class="bi bi-list-ul"></i>
					<span th:text="#{sidebar.link.listar}"></span>
				</a></li>
		</ul>

		<ul class="nav nav-pills">
			<li class="nav-item"><span class="nav-link active" th:text="#{sidebar.titulo.livro}"></span></li>
			<li class="nav-item"><a class="nav-link" th:href="@{/livro/cadastrar}"> <i
						class="bi bi-plus-circle-fill"></i> <span th:text="#{sidebar.link.cadastrar}"></span>
				</a></li>
			<li class="nav-item"><a class="nav-link" th:href="@{/livro/listar}">
					<i class="bi bi-list-ul"></i> <span th:text="#{sidebar.link.listar}"></span>
				</a></li>
		</ul>
	</nav>
</body>

</html>