<!DOCTYPE html>
<html>
<head><meta charset="UTF-8"></head>
<body>
	<nav class="sidebar sidebar-open" th:fragment="nav-sidebar">
		<ul class="nav nav-pills">
			<li class="nav-item"><a class="nav-link " th:href="@{/}"> <i
					class="oi oi-home"></i> <span>Home</span>
			</a></li>
		</ul>

		<ul class="nav nav-pills">
			<li class="nav-item"><span class="nav-link active">Editoras</span></li>
			<li class="nav-item"><a class="nav-link"
				th:href="@{/editoras/cadastrar}"> <i class="oi oi-plus"></i> <span>Cadastrar</span>
			</a></li>
			<li class="nav-item"><a class="nav-link"
				th:href="@{/editoras/listar}"> <i class="oi oi-spreadsheet"></i>
					<span>Listar</span>
			</a></li>
		</ul>

		<ul class="nav nav-pills">
			<li class="nav-item"><span class="nav-link active">Livros</span></li>
			<li class="nav-item"><a class="nav-link"
				th:href="@{/livros/cadastrar}"> <i class="oi oi-plus"></i> <span>Cadastrar</span>
			</a></li>
			<li class="nav-item"><a class="nav-link" th:href="@{/livros/listar}">
					<i class="oi oi-spreadsheet"></i> <span>Listar</span>
			</a></li>
		</ul>
	</nav>
</body>
</html>