<!DOCTYPE html>
<html layout:decorate="~{layout}">
<head>
<meta charset="UTF-8" />
</head>
<body>
	<section class="layout-content" layout:fragment="corpo">

		<nav class="navbar navbar-expand-md bg-light">
			<div class="collapse navbar-collapse" id="navbarsExampleDefault">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item active"><i class="oi oi-caret-right"></i>
						<span th:text="#{editora.cadastrar.label}"></span></li>
				</ul>
				<a class="btn btn-primary btn-md" th:href="@{/editoras/listar}"
					role="button"> <span class="oi oi-spreadsheet" title="Listar"
					aria-hidden="true"></span> <span th:text="#{editora.listar.label}"></span>
				</a>
			</div>
		</nav>

		<div class="container" id="cadastro">

			<div th:replace="fragments/alert"></div>

			<form
				th:action="${editora.id == null} ? @{/editoras/salvar} : @{/editoras/editar}"
				th:object="${editora}" method="POST">

				<div class="form-row">
					<div class="form-group col-md-6">
						<label th:text="#{editora.nome.label}" for="nome"></label> 
						<input type="text" class="form-control" id="nome" autofocus="autofocus"
							th:field="*{nome}" th:placeholder="#{editora.nome.label}"
							th:classappend="${#fields.hasErrors('nome')} ? is-invalid" />

						<div class="invalid-feedback">
							<span th:errors="*{nome}"></span>
						</div>
					</div>

					<div class="form-group col-md-6">
						<label th:text="#{editora.cnpj.label}" for="CNPJ"></label> 
						<input type="text" class="form-control" id="CNPJ" autofocus="autofocus"
							th:field="*{CNPJ}" placeholder="__.___.___/____-__"
							th:readonly="${editora.id != null}"
							data-mask="00.000.000/0000-00" data-mask-reverse="true"
							th:classappend="${#fields.hasErrors('CNPJ')} ? is-invalid" />
							
						<div class="invalid-feedback">
							<span th:errors="*{CNPJ}"></span>
						</div>
					</div>
				</div>

				<input type="hidden" id="id" th:field="*{id}" />
				<button type="submit" th:text="#{button.salvar.label}"
					class="btn btn-primary btn-sm"></button>
			</form>
		</div>
	</section>
</body>
</html>
