<!DOCTYPE html>
<html layout:decorate="~{layout}">
<head>
</head>
<body>
	<section class="layout-content" layout:fragment="corpo">

		<nav class="navbar navbar-expand-md bg-light">
			<div class="collapse navbar-collapse" id="navbarsExampleDefault">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item active">
						<i class="oi oi-caret-right"></i>
						<span th:text="#{livro.listar.label}"></span>
					</li>
				</ul>
			</div>
			<a class="btn btn-primary btn-md" th:href="@{/livros/cadastrar}" role="button"> 
				<span class="oi oi-plus" title="Cadastro" aria-hidden="true"></span> 
				<span th:text="#{livro.cadastrar.label}"></span>
			</a>
		</nav>

		<div class="container" id="listagem">

			<div th:replace="fragments/alert"></div>

			<div class="table-responsive">
				<table class="table table-striped table-hover table-sm">
					<thead>
						<tr>
							<th>#</th>
							<th th:text="#{livro.titulo.label}"></th>
							<th th:text="#{livro.autor.label}"></th>
							<th th:text="#{livro.editora.label}"></th>
							<th th:text="#{livro.ano.label}"></th>
							<th th:text="#{livro.preco.label}"></th>
							<th th:text="#{acao.label}"></th>
						</tr>
					</thead>
					<tbody>						
						<tr th:each="livro : ${livros}">
							<td th:text="${livro.id}"></td>
							<td th:text="${livro.titulo}"></td>
							<td th:text="${livro.autor}"></td>
							<td th:text="${livro.editora.nome}"></td>
							<td th:text="${livro.ano}"></td>
							<td th:text="|R$ ${#numbers.formatDecimal(livro.preco,2,2,'COMMA')}|"></td>
							<td colspan="2">
								<a class="btn btn-info btn-sm"
									th:href="@{/livros/editar/{id} (id=${livro.id}) }" role="button"> 
									<span class="oi oi-brush" th:title="#{link.editar.label}" aria-hidden="true"></span>
								</a>
								<button th:id="${#strings.concat('btn_livros/excluir/',livro.id)}" 
									type="button" class="btn btn-danger btn-sm" data-toggle="modal" data-target="#myModal">
									<span class="oi oi-circle-x" th:title="#{link.excluir.label}" aria-hidden="true"></span>
								</button>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>

		<div th:replace="fragments/modal :: modal"></div>
	</section>
</body>
</html>
