<!DOCTYPE html>
<html layout:decorate="~{layout}">

<head>
	<meta charset="UTF-8" />
</head>

<body>
	<section class="layout-content" layout:fragment="corpo">

		<nav class="navbar navbar-expand-md bg-light">
			<div class="container-fluid">
				<div class="collapse navbar-collapse" id="navbarsExampleDefault">
					<ul class="navbar-nav mr-auto">
						<li class="nav-item active"><i class="bi bi-caret-right-fill"></i>
							<span>Cadastrar Editoras</span>
						</li>
					</ul>
					<a class="btn btn-primary btn-md nav-item ms-auto" th:href="@{/editora/listar}" role="button"> <span
							class="bi bi-list-ul" title="Listar" aria-hidden="true"></span> <span>Listar Editoras</span>
					</a>
				</div>
			</div>
		</nav>

		<div class="container" id="cadastro">

			<div th:replace="~{fragments/alert}"></div>

			<form th:action="${editora.id == null} ? @{/editora/salvar} : @{/editora/editar}" th:object="${editora}"
				method="POST">

				<div class="row">

					<div class="col-md-6">

						<label for="nome" class="col-form-label">Nome</label>
						<input type="text" class="form-control" id="nome" placeholder="Nome" autofocus="autofocus"
							th:field="*{nome}" th:classappend="${#fields.hasErrors('nome')} ? is-invalid" />
						<div class="invalid-feedback">
							<span th:errors="*{nome}"></span>
						</div>
					</div>

					<div class="col-md-6 g-3">
						<label for="CNPJ">CNPJ</label>
						<input type="text" class="form-control" id="CNPJ" placeholder="__.___.___/____-__"
							th:readonly="${editora.id != null}" autofocus="autofocus" th:field="*{CNPJ}"
							th:classappend="${#fields.hasErrors('CNPJ')} ? is-invalid" data-mask="00.000.000/0000-00"
							data-mask-reverse="true" />

						<div class="invalid-feedback">
							<span th:errors="*{CNPJ}"></span>
						</div>
					</div>
				</div>

				<input type="hidden" id="id" th:field="*{id}" />

				<button type="submit" class="btn btn-primary btn-sm mt-3">Salvar</button>
			</form>
		</div>
	</section>
</body>

</html>