<div th:if="${sucess} != null">
	<div class="alert alert-success alert-dismissible fade show" role="alert">
		<i class="bi bi-check-lg"></i> <span> <strong th:text="${sucess}"></strong>
		</span>
		<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
		</button>
	</div>
</div>

<div th:if="${fail} != null">
	<div class="alert alert-danger alert-dismissible fade show" role="alert">
		<i class="bi bi-exclamation-circle-fill"></i> <span> <strong th:text="${fail}"></strong>
		</span>
		<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
		</button>
	</div>
</div>
