<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
</head>
<body>
	<header th:fragment="cabecalho">
		<nav
			class="navbar navbar-inverse navbar navbar-dark bg-dark fixed-top">
			<div class="container-fluid">
				<div class="navbar-header">
					<div sec:authorize="isAuthenticated()" style="right: 10px; position: absolute">
						<form th:action="@{/logout}" method="post">
							<div class="row">
								<div class="col-sm-12 col-sm-offset-3">
									<input type="submit" name="login-submit" id="login-submit"
										class="form-control btn btn-info" value="Logout">
								</div>
							</div>
						</form>
					</div>
					<div style="right: 100px; position: absolute">
						<a th:href="@{''(lang=pt)}"><img alt=""
							th:src="@{/image/Brasil.gif}" style="width: 30px;" /></a> <a
							th:href="@{''(lang=en)}"><img alt=""
							th:src="@{/image/EUA.gif}" style="width: 30px;" /></a>
					</div>
					
					<button type="button" class="btn btn-dark navbar-toggle pull-left">
						<i class="oi oi-menu"></i>
					</button>
					<a class="navbar-brand " th:href="@{/}" th:text="#{title.label}">
					</a>
				</div>
			</div>
		</nav>
	</header>
</body>
</html>