<html>
    <head>
        <title>AJAX</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
    	Busca por estado: <a th:href="@{/buscaEstado}">Clique aqui</a> (Dynamic select)  
        <br/><br/>
        Busca por nome: <a th:href="@{/buscaNome}">Clique aqui</a> (Autocomplete)
        <br/><br/>
        Tabela Dinâmica: <a th:href="@{/tabelaDinamica}">clique aqui</a> (filtro por nome)
        <br/><br/>
    </body>
</html>